<section class="contact">
  <div class="container">
    <h2 class="title">Contact Us</h2>
    <h3 class="subtitle">Most calendars are designed for teams.</h3>
    <ul class="contact-icons">
      <li class="contact-icon">
        <a href="#">
          <svg height="40" width="40">
            <use href="./img/icons.svg#icon-twitter"></use>
          </svg>
        </a>
      </li>
      <li class="contact-icon">
        <a href="#">
          <svg height="40" width="40">
            <use href="./img/icons.svg#icon-facebook"></use>
          </svg>
        </a>
      </li>
      <li class="contact-icon">
        <a href="#">
          <svg height="40" width="40">
            <use href="./img/icons.svg#icon-linkedIn"></use>
          </svg>
        </a>
      </li>
    </ul>
    <ul class="contacts">
      <li class="contacts-item">
        <svg class="contacts-icon" height="40" width="40">
          <use href="./img/icons.svg#icon-gps"></use>
        </svg>
        <p class="contacts-text">
          6386 Spring St undefined Anchorage, Georgia 12473 United States
        </p>
      </li>
      <li class="contacts-item">
        <svg class="contacts-icon" height="40" width="40">
          <use href="./img/icons.svg#icon-phone"></use>
        </svg>
        <p class="contacts-text">(843) 555-0130</p>
      </li>
      <li class="contacts-item">
        <svg class="contacts-icon" height="40" width="40">
          <use href="./img/icons.svg#icon-mail"></use>
        </svg>
        <p class="contacts-text">willie.jennings@example.com</p>
      </li>
    </ul>
    <form class="contact-form">
      <p class="contact-form-title">Contact Us</p>
      <input
        type="text"
        class="contact-input"
        name="name"
        placeholder="Your Name"
      />
      <input
        type="email"
        class="contact-input"
        name="email"
        placeholder="Your Email"
      />
      <textarea
        name="message"
        class="contact-text"
        placeholder="Your Message"
      ></textarea>
      <button class="main-btn contact-btn">Send</button>
    </form>
  </div>
</section>
