<section class="features">
  <div class="container">
    <h2 class="title">Features</h2>
    <h3 class="subtitle">Most calendars are designed for teams.</h3>
    <a class="features-player" href="#">
      <img class="features-img" src="./img/features.jpg" alt="notebook" />
    </a>
    <ul class="features-list">
      <li class="feature">
        <svg class="feature-icon" width="46" height="46">
          <use href="./img/icons.svg#icon-openType"></use>
        </svg>
        <h3 class="feature-title">OpenType features Variable fonts</h3>
        <p class="feature-text">
          Slate helps you see how many more days you need to work to reach your
          financial goal.
        </p>
      </li>
      <li class="feature">
        <svg class="feature-icon" width="46" height="46">
          <use href="./img/icons.svg#icon-design"></use>
        </svg>
        <h3 class="feature-title">Design with real data</h3>
        <p class="feature-text">
          Slate helps you see how many more days you need to work to reach your
          financial goal.
        </p>
      </li>
      <li class="feature">
        <svg class="feature-icon" width="46" height="46">
          <use href="./img/icons.svg#icon-pencil"></use>
        </svg>
        <h3 class="feature-title">Fastest way to take action</h3>
        <p class="feature-text">
          Slate helps you see how many more days you need to work to reach your
          financial goal.
        </p>
      </li>
    </ul>
  </div>
</section>
