<footer class="footer">
  <div class="container">
    <div class="footer-lists">
      <div class="footer-wrapper">
        <p class="footer-title">Pages</p>
        <ul class="footer-list">
          <li class="footer-item">
            <a href="#"><p class="footer-text">Home</p></a>
          </li>
          <li class="footer-item">
            <a href="#"><p class="footer-text">Product</p></a>
          </li>
          <li class="footer-item">
            <a href="#"><p class="footer-text">Pricing</p></a>
          </li>
          <li class="footer-item">
            <a href="#"><p class="footer-text">About</p></a>
          </li>
          <li class="footer-item">
            <a href="#"><p class="footer-text">Contact</p></a>
          </li>
        </ul>
      </div>
      <div class="footer-wrapper">
        <p class="footer-title">Tomothy</p>
        <ul class="footer-list">
          <li class="footer-item">
            <p class="footer-text">Eleanor Edwards</p>
          </li>
          <li class="footer-item">
            <p class="footer-text">Ted Robertson</p>
          </li>
          <li class="footer-item">
            <p class="footer-text">Annette Russell</p>
          </li>
          <li class="footer-item">
            <p class="footer-text">Jennie Mckinney</p>
          </li>
          <li class="footer-item">
            <p class="footer-text">Gloria Richards</p>
          </li>
        </ul>
      </div>
      <div class="footer-wrapper">
        <p class="footer-title">Jane Black</p>
        <ul class="footer-list">
          <li class="footer-item">
            <p class="footer-text">Philip Jones</p>
          </li>
          <li class="footer-item">
            <p class="footer-text">Product</p>
          </li>
          <li class="footer-item">
            <p class="footer-text">Colleen Russell</p>
          </li>
          <li class="footer-item">
            <p class="footer-text">Marvin Hawkins</p>
          </li>
          <li class="footer-item">
            <p class="footer-text">Bruce Simmmons</p>
          </li>
        </ul>
      </div>
    </div>
    <ul class="footer-contacts">
      <li class="footer-contact">
        <svg width="40" height="40">
          <use href="./img/icons.svg#icon-gps"></use>
        </svg>
        <p class="footer-contact-text">7480 Mockingbird Hill</p>
      </li>
      <li class="footer-contact">
        <svg width="40" height="40">
          <use href="./img/icons.svg#icon-phone"></use>
        </svg>
        <p class="footer-contact-text">(239) 555-0108</p>
      </li>
    </ul>
    <ul class="footer-socials">
      <li class="footer-icon">
        <a href="#">
          <svg height="40" width="40">
            <use href="./img/icons.svg#icon-twitter"></use>
          </svg>
        </a>
      </li>
      <li class="footer-icon">
        <a href="#">
          <svg height="40" width="40">
            <use href="./img/icons.svg#icon-facebook"></use>
          </svg>
        </a>
      </li>
      <li class="footer-icon">
        <a href="#">
          <svg height="40" width="40">
            <use href="./img/icons.svg#icon-linkedIn"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</footer>
