<section class="newsletter">
  <div class="container newsletter-container">
    <p class="newsletter-text newsletter-hide">At your fingertips</p>
    <h2 class="title newsletter-hide">Newsletter</h2>
    <h3 class="subtitle newsletter-hide">
      Most calendars are designed for teams. Slate is designed for freelancers
    </h3>
    <img class="newsletter-img" src="./img/newsletter.png" alt="news" />
    <div>
      <p class="newsletter-text newsletter-show">At your fingertips</p>
      <p class="subtitle newsletter-subtitle">Lightning fast prototyping</p>
      <p class="newsletter-text">Subscribe to our Newsletter</p>
      <p class="newsletter-secText">Available exclusivery on Figmaland</p>
      <form class="newsletter-form">
        <input
          class="newsletter-input"
          type="text"
          name="email"
          placeholder="Your Email"
        />
        <button class="main-btn newsletter-btn">Subscribe</button>
      </form>
    </div>
  </div>
</section>
