<section class="organize">
  <div class="container organize-container">
    <div class="organize-wrapper">
      <h2 class="title organize-title">Fastest way to organize</h2>
      <h3 class="subtitle organize-subtitle">
        Most calendars are designed for teams.
        <span class="organize-subtitle-desktop">
          Slate is designed for freelancers
        </span>
      </h3>
      <button type="button" class="main-btn organize-btn">Try For Free</button>
    </div>
    <img class="organize-img" src="./img/macbook.webp" alt="macbook pro" />
  </div>
</section>
