<section class="partners">
  <div class="container">
    <h2 class="title">Partners</h2>
    <h3 class="subtitle pratners-subtitle">
      Most calendars are designed for teams. Slate is designed for freelancers
    </h3>
    <ul class="partners-list">
      <li class="partner">
        <p class="partner-name">Client Name</p>
        <img
          class="partner-logo"
          src="../img/clients/google.png"
          alt="google"
        />
      </li>
      <li class="partner">
        <p class="partner-name">Client Name</p>
        <img
          class="partner-logo"
          src="../img/clients/amazon.png"
          alt="amazon"
        />
      </li>
      <li class="partner">
        <p class="partner-name">Client Name</p>
        <img
          class="partner-logo"
          src="../img/clients/microsoft.png"
          alt="microsoft"
        />
      </li>
    </ul>
    <button type="button" class="main-btn">Try For Free</button>
  </div>
</section>
