<section class="pricing">
  <div class="container">
    <h2 class="title pricing-title">Pricing</h2>
    <h3 class="subtitle pricing-subtitle">
      Most calendars are designed for teams.
    </h3>
    <ul class="pricing-list">
      <li class="price">
        <p class="price-title">FREE</p>
        <p class="price-subtitle">Organize across all apps by hand</p>
        <div class="price-wrapper">
          <p class="price-num">0</p>
          <div>
            <p class="price-symbol">$</p>
            <p class="price-text">Per Month</p>
          </div>
        </div>
        <ul class="price-list">
          <li class="price-item">Pricing Feature</li>
          <li class="price-item">Pricing Feature</li>
          <li class="price-item">Pricing Feature</li>
          <li class="price-item">Pricing Feature</li>
          <li class="price-item">Pricing Feature</li>
        </ul>
        <button type="button" class="main-btn">Order Now</button>
      </li>
      <li class="price">
        <p class="price-title">STANDARD</p>
        <p class="price-subtitle">Organize across all apps by hand</p>
        <div class="price-wrapper">
          <p class="price-num">10</p>
          <div>
            <p class="price-symbol">$</p>
            <p class="price-text">Per Month</p>
          </div>
        </div>
        <ul class="price-list">
          <li class="price-item">Pricing Feature</li>
          <li class="price-item">Pricing Feature</li>
          <li class="price-item">Pricing Feature</li>
          <li class="price-item">Pricing Feature</li>
          <li class="price-item">Pricing Feature</li>
        </ul>
        <button type="button" class="main-btn">Order Now</button>
      </li>
      <li class="price">
        <p class="price-title">BUSINESS</p>
        <p class="price-subtitle">Organize across all apps by hand</p>
        <div class="price-wrapper">
          <p class="price-num">99</p>
          <div>
            <p class="price-symbol">$</p>
            <p class="price-text">Per Month</p>
          </div>
        </div>
        <ul class="price-list">
          <li class="price-item">Pricing Feature</li>
          <li class="price-item">Pricing Feature</li>
          <li class="price-item">Pricing Feature</li>
          <li class="price-item">Pricing Feature</li>
          <li class="price-item">Pricing Feature</li>
        </ul>
        <button type="button" class="main-btn">Order Now</button>
      </li>
    </ul>
  </div>
</section>
