.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
  padding: 20px 0;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.burger {
  background-color: transparent;
  border: none;
}

.header-list {
  display: none;
}
.header-socials {
  display: none;
}
.header-link {
  color: #fff;
  font-size: 15px;
  font-weight: 400;
  line-height: 28px; /* 186.667% */
  letter-spacing: 0.2px;
}

.mobile-menu {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 4;
  top: 0;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s cubic-bezier(0.445, 0.05, 0.55, 0.95),
    visibility 0.2s;
}

.mobile-menu-container {
  padding: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border-radius: 14px;
}

.mobile-menu.active {
  opacity: 1;
  visibility: visible;
}

.menu-close {
  position: absolute;
  right: 20px;
  top: 16px;
  font-size: 26px;
  line-height: normal;
}

.menu-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  padding: 60px 0;
  a {
    color: #252b42;
  }
}

@media only screen and (min-width: 1200px) {
  .burger {
    display: none;
  }
  .header-nav {
    display: flex;
    align-items: center;
    gap: 34px;
  }
  .header-list {
    display: flex;
    gap: 20px;
  }

  .header-link {
    transition: color 0.2s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  }
  .header-link:hover {
    color: #0673da;
  }
  .header-socials {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
    a {
      fill: #fff;
      transition: fill 0.2s cubic-bezier(0.445, 0.05, 0.55, 0.95);
    }
    a:hover {
      fill: #0673da;
    }
  }
}
