.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
  padding: 20px 0;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.burger {
  background-color: transparent;
  border: none;
}
