.hero {
  background: url(../img/bg/hero/hero.webp) center center / cover no-repeat;
  padding: 204px 0 266px 0;
  clip-path: polygon(0 0, 100% 0, 100% 85%, 50% 100%, 0 85%);
  overflow: hidden;
  max-width: 1800px;
  margin: 0 auto;
}

.hero-title {
  color: #fff;
}

.hero-subtitle {
  color: #fff;
}
